/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

* {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h4, p, a {
	position: relative;
}

/* HEADER */
.menu {
	/*outline: 1px solid red;*/
	width: 100%;
	position: fixed;
	height: 100px;
	top: 0;
	background-color: #fff;
	padding: 10px 100px 10px 150px;
	border: none;
	z-index: 1000;
}

.botones {
	/*outline: 1px solid blue;*/
	padding-top: 25px;
	display: inline-block;
}

.menu a {
	/*outline: 1px solid yellow;*/
	font-weight: 700;
	margin: 0 45px 0 0;
}

#logo {
	float: right;
	height: 100%
}

/* SECCIÓN 1: WELCOME */

#welcome {
	margin-top: 100px;
	background-image: url(../assets/images/bg-home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 500px;
	color: #fff;
}

#welcome h2 {
	top: 50px;
	
}

#welcome h1 {
	top: 60px;
	font-size: 50px;
}

#welcome p {
	top: 20px;
}

#welcome a {
	top: 70px;
	background-color: #2ECC71;
	display: inline-block;
	width: 150px;
	height: 50px;
	padding-top: 12px;
	color: #fff;
}

/* SECCIÓN 2: SERVICES */
#services {
	background-color: #F17C72;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 668px;
	color: #fff;
}

#services h2 {
	top: 40px;
	font-size: 35px;
}

#services h4 {
	top: 40px;
}

.caja-servicios {
	top: 150px;
	display: inline-block;
	padding: 0 80px;
	position: relative;
}

.services-1, .services-2, .services-3 {
	float: left;
	width: 200px;
	margin: 0 70px;
}

.img-servicios {
	width: 100%;
	margin-bottom: 25px;
}


/* SECCIÓN 3: WORK */
#work {
	display: inline-block;
	background-color: #fff;
	text-align: center;
	position: relative;
}

#work h2 {
	top: 40px;
	font-size: 35px;
}

#work h4 {
	top: 40px;
}

#work img {
	width: 70%; 
	position: relative;
	top: 70px;
}

.proyectos {
	/*outline: 1px solid hotpink;*/
	top: 100px;
	display: inline-block;	
}

.work-1, .work-2, .work-3 {
	/*outline: 1px solid cyan;*/
	width: 200px;
	display: inline-block;
	box-sizing: border-box;
}

.proyectos img {
	/*outline: 1px solid green;*/
	width: 100%;
}


/*Footer*/
footer {
	display: inline-block;
	width: 100%;
	background-color: #373B47;
	bottom: 0;
	height: 70px;
	text-align: center;
	color: #fff;
	padding: 6px 0;
	position: relative;
}